---
layout: default
title: Projects
---
{% for project in site.data.projects %}
<table>
  <tbody>
    <tr class="header">
      <td>
        <strong>{{ project.title }}</strong>
        <span style="font-weight: 400;"><small>({{ project.term }})</small></span>
        <br />
        {% for t in project.technologies %}
        <code class="language-plaintext" style="font-size: smaller; letter-spacing: -0.5px;">{{ t }}</code>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td style="text-align: justify">
        {{ project.description | markdownify }}
      </td>
    </tr>
  </tbody>
</table>
{% endfor %}