<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{%- if page.title -%}
<title>{{page.title}}</title>
{%- else -%}
<title>{{site.title}}</title>
{%- endif -%}

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content" style="padding-top: 5em;">
    <div class="wrapper">
      {%- if page.title -%}
      <h2>{{page.title}}</h2>
      {%- endif -%}
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>